body {
  font-family: 'Poppins', sans-serif;
  background-color: #efe5ff;
  color: #000000;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 0 20px;
}

.card {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

}


.form-heading {
  font-size: 1.8rem;
  color: #367ecc;
  display: flex;
  align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
  }
  
  .input-with-icon {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .input-with-icon i {
    position: absolute;
    right: 15px;
    color: #367ecc;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    padding-right: 6px;
    font-size: 1rem;
    border: 2px solid #367ecc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
  .form-input:focus {
    border-color: #367ecc;
    outline: none;
  }
  
  textarea.form-input {
    resize: none;
  }
  
  .btn {
    background-color: #367ecc;
    color: #efe5ff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .btn:hover {
    background-color: #315a87;
  }
  
  .full-width {
    width: 100%;
  }
  